.outer {
  width: 60vw;
}

article > .row {
  display: flex;
  gap: 5vw;
}

.col-image > img {
  height: 20vw;
  width: 15vw;
}
.col-image {
  display: flex;
  align-items: center;
}

.col2 {
  display: flex;
  flex-direction: row;
  gap: 5vw;
}

.submit-button {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}
